@media (max-width: 480px) {
  .header_inner {
    padding: 32px 16px;
  }
  .cart_summary {
    display: none;
  }

  .products_inner {
    padding: 32px 24px 46px 24px;
    grid-template-columns: 1fr;
    width: 100%;
    gap: 24px;
  }

  .buy_row {
    justify-content: flex-end;
  }
  .qty_group {
    width: 120px;
  }

  .footer_container {
    height: auto;
  }

  .footer_inner {
    height: auto;
    width: 100%;
    flex-direction: column;
    padding: 24px 16px;
    gap: 24px;
    align-items: flex-start;
  }

  .footer_colum_info,
  .footer_colum_polices {
    margin-left: 0;
  }
}
